body{margin: 0;
padding: 0;
height: 100vh;
font-family: Arial, Helvetica, sans-serif;
}

.hero-image{
    background-image: linear-gradient(rgba(0, 0, 0, 0),rgba(0, 0, 0, 0)), url("IMAGES FOR FINAL PROJECT/W220 CROP.jpg");
    background-size: cover
    background-position: center
    width: cover;
    height: cover;
    

}

.hero-text{color: rgb(255, 187, 0);
    font-size: 200%;


}

h1 {
    color: rgb(255, 187, 0);
    
font-size: 350%;
}

img {
    max: width 90%;
    height:auto;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
}

img {
    max-width:100%;
    height:auto;
}

.p {
    font-size: x-large;
    color: aqua ;
}

div {
background-color: black;
}